<web-app>
<welcome-file-list>
<welcome-file>index.jsp</welcome-file>
</welcome-file-list>


<servlet>
<servlet-name>Admin</servlet-name>
<servlet-class>com.Admin</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>Admin</servlet-name>
<url-pattern>/Admin</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>AddEvent</servlet-name>
<servlet-class>com.AddEvent</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>AddEvent</servlet-name>
<url-pattern>/AddEvent</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>AddLocation</servlet-name>
<servlet-class>com.AddLocation</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>AddLocation</servlet-name>
<url-pattern>/AddLocation</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>DeleteLocation</servlet-name>
<servlet-class>com.DeleteLocation</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>DeleteLocation</servlet-name>
<url-pattern>/DeleteLocation</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>UpdateLocation</servlet-name>
<servlet-class>com.UpdateLocation</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>UpdateLocation</servlet-name>
<url-pattern>/UpdateLocation</url-pattern>
</servlet-mapping>

</web-app>